<a href="https://colab.research.google.com/github/LiscaAngriani/APM_Kelompok3/blob/main/Algoritma_Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

transactions = []
for i in range(0, 7501):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
itens = []
for i in range(0, len(transactions)):
    itens.extend(transactions[i])

uniqueItems = list(set(itens))
uniqueItems.remove('nan')

In [4]:
pair = []
for j in range(0, len(uniqueItems)):
    k = 1;
    while k <= len(uniqueItems):
        try:
            pair.append([uniqueItems[j], uniqueItems[j+k]])
        except IndexError:
            pass
        k = k + 1;

In [5]:
score = []
for i in pair:
    cond = []
    for item in i:
        cond.append('("%s") in s' %item)
    mycode = ('[s for s in transactions if ' + ' and '.join(cond) + ']')
    score.append(len(eval(mycode))/7501.)

In [6]:
ranking_ECLAT = pd.DataFrame([pair, score]).T
ranking_ECLAT.columns = ['Pair', 'Score']

In [7]:
ranking_ECLAT.sort_values('Score', ascending=False).head(10)

                                    Pair     Score
6584          [mineral water, spaghetti]  0.059725
6326          [chocolate, mineral water]   0.05266
6591               [mineral water, eggs]  0.050927
5453               [milk, mineral water]  0.047994
6606        [mineral water, ground beef]  0.040928
6332              [chocolate, spaghetti]  0.039195
6783            [spaghetti, ground beef]  0.039195
6768                   [spaghetti, eggs]  0.036528
3959                [french fries, eggs]  0.036395
4331  [frozen vegetables, mineral water]  0.035729

In [8]:
trio = []
for j in range(0, len(uniqueItems)):
    for k in range(j, len(uniqueItems)):
        for l in range(k, len(uniqueItems)):
            if (k != j) and (j != l) and (k != l):
                try:
                    trio.append([uniqueItems[j], uniqueItems[j+k], uniqueItems[j+l]])
                except IndexError:
                    pass

In [9]:
trio[:5]

[['pepper', 'tomato juice', 'sparkling water'],
 ['pepper', 'tomato juice', 'light mayo'],
 ['pepper', 'tomato juice', 'chocolate bread'],
 ['pepper', 'tomato juice', 'ketchup'],
 ['pepper', 'tomato juice', 'cider']]

In [12]:
score_trio = []
for i in trio:
    cond = []
    for item in i:
        cond.append('("%s") in s' %item)
    mycode = ('[s for s in transactions if ' + ' and '.join(cond) + ']')
    score_trio.append(len(eval(mycode))/7501.)
ranking_ECLAT_trio = pd.DataFrame([trio, score_trio]).T
ranking_ECLAT_trio.columns = ['Trio', 'Score']
ranking_ECLAT_trio.sort_values('Score', ascending=False).head(10)

                                               Trio     Score
122259         [pancakes, mineral water, spaghetti]  0.011465
136504     [french fries, mineral water, spaghetti]  0.010132
99774          [tomatoes, mineral water, spaghetti]  0.009332
122001         [pancakes, chocolate, mineral water]  0.009332
136868                [french fries, eggs, burgers]  0.009065
139698  [frozen vegetables, spaghetti, ground beef]  0.008666
136246     [french fries, chocolate, mineral water]  0.008532
108556           [shrimp, mineral water, spaghetti]  0.008532
136259              [french fries, chocolate, eggs]  0.008399
138506        [green tea, mineral water, spaghetti]  0.008266